!!! XML
%rss{:version=>"2.0"}
    %channel
        %link #{$SITE}
        %title First!
        %description A convenient listing of the latest topics on First!
        %language en-us

        - @posts.each do |p|
            %item
                %pubDate #{p.created_at.strftime('%a, %d %b %Y %H:%M:%S %z')}
                %guid #{$SITE}#{p.id}
                %link #{$SITE}#{p.id}
                %title #{p.title} [#{p.name}]
                %description
                    - marked_down = capture_haml(p.body) do |b|
                        :markdown
                            #{b}
                    :escaped
                        #{marked_down}